<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="background-color: darkred; font-family: monospace;">
    <div style="text-align:center">
      <p style="color: white; font-size: 300%"><b>404</b></p>
      <p style="color: white; font-size: 200%">¶∆‰Œ πø† ∫◊µπ¿</p>
    </div>
</body>
</html>