{% extends "layout.jinja2" %}
{% block title %}
Entry: {{ entry.title }}
{% endblock %}
{% block body %}
<div class="entries container">
    <div class="row">
        {% if entry %}
        <article>
            <h4>{{ entry.title }}</h4>
            <h6 class="date">{{ entry.creation_date }}</h6>
            {% if edit_date %}
                <h6 class="date edited">(<em>edited: </em>{{ edit_date }})</h6>
            {% endif %}
            <p>{{ entry.body }}</p>
            {% if request.authenticated_userid %}
                <a href="{{ request.route_url('update', id=entry.id) }}">edit</a>
            {% endif %}
        </article>
        {% endif %}
    </div>
</div>
{% endblock %}