<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Learning Journal{% endblock %}</title>
    <meta name="description" content="Daily Learning Journal New Entry Form">
    <meta name="author" content="Ford Fowler">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('learning_journal:static/vendor/css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('learning_journal:static/vendor/css/skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('learning_journal:static/css/style.css') }}">
</head>
<body>
    <div class="header container">
        <div class="row">
            <header>
                <ul>
                    <li><a href="{{ request.route_url('home') }}"><h3>today I learned ...</h3></a></li>
                    {% if request.authenticated_userid %}
                        <li class='right'><a href="{{ request.route_url('create') }}">Add new entry</a></li>
                        <li class='right'><a href="{{ request.route_url('logout') }}">logout</a></li>
                    {% else %}
                        <li class='right'><a href="{{ request.route_url('login') }}">login</a></li>
                    {% endif %}
                </ul>
            </header>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>